# Ignore binaries and FlexBuilder settings
#.settings/
bin-debug/
bin-release/
# Ignore all dotfiles...
#.*
.DS_Store
# except for .gitignore and .actionScriptProperties
!.gitignore
!.project
!.actionScriptProperties
