/* CSS file */
ToolTip
{
	fontSize: 12;
}
ProgressBar
{
	barColor: #62D000;
}

global
{
	
}
Button
{
	color: #62D000;
	fillAlphas: 1.0, 1.0;
	fillColors: #FFFFFF, #E6E6E6;
	themeColor: #62D000;
}
VBox.cspopup
{
	backgroundColor: #FFFFFF;
	borderColor: #FFFFFF;
	borderStyle: solid;
	cornerRadius: 10;
	paddingBottom: 25;
	paddingLeft: 25;
	paddingRight: 25;
	paddingTop: 25;
}
Label.csH1
{
	color: #62D000;
	fontFamily: Helvetica;
	fontSize: 30;
}
LinkButton.removeButton
{
	color: #000000;
}

.windowShadeStyle{
	drop-shadow-enabled: true;
	corner-radius: 10;
	border-style: solid;
	backgroundColor: #FFFFFF
}